div#left-part,div#center-part,div#right-part{
    float: left;
    min-width: 100px;
    min-height: 90%;
    padding: 4px;
}

div#left-part{
}

textarea#input-text, select#drawmode{
    display: flex;
    margin-bottom: 1em;
}

div.hidden{
    display: flex;
}
textarea#copypa{
    width: 0px;
    height: 0px;
    display: flex;
}

div#center-part{
    text-align: center;
}

div#center-part select{
    margin-bottom: 2em;
}

div#right-part{
}

div#right-part table{
    border: solid thin #ccc;
    border-collapse: collapse;
    font-size: 9pt;
}

div#right-part button{
    margin-bottom: 1em;
}

div#right-part table tr td:nth-child(1){
    min-width: 10em;
}

div#right-part table tr td:nth-child(2){
    min-width: 10em;
}

div#right-part table tr td:nth-child(2)::before{
    content: '(';
}
div#right-part table tr td:nth-child(2)::after{
    content: ')';
}

div#right-part table tr:nth-child(odd){
    border-top: solid thin #ccc;
}
div#right-part table tr:nth-child(even){
    border-bottom: solid thin #ccc;
}
